[user]
	name = tomdaly
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
	hooksPath = ~/.git_hooks_global
	symlinks = true
[gpg]
	program = /opt/homebrew/bin/gpg
[commit]
	gpgsign = true
[pull]
	ff = only
[push]
	autoSetupRemote = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[diff]
	external = difft
[difft]
	tool = difftastic
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[credential]
	helper = osxkeychain
[tag]
	gpgsign = true
[include]
	path = ~/.gitconfig.local
